.birthday {
  margin: auto;
}

#adultHolder {
  display: none;
}

#childHolder {
  display: none;
}

.navbar-nav {
  display: block;
  width: 100%;
}

.nav-link {
  display: inline-block;
  margin-right: 20px;
}

nav.navbar {
  margin-bottom: 50px;
}